#app {
  background: #023047;
  height: 100vh;
}

#app h1 {
  color: #00f5d4;
}

#app .next {
  margin-left: 5rem;
}

#app .even {
  color: #f72585;
}

#app .not_even {
  color: #eb5e28;
}
/*# sourceMappingURL=main.css.map */