#app{
    background: #023047;
    height: 100vh;

   
    h1{
        color: #00f5d4;
    }

    .next{
        margin-left: 5rem;
    }

    .even{
        color: #f72585;
    }
    .not_even{
        color: #eb5e28;
    }
}

