<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Qoutes</title>

    <!-- mdb -->

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <!-- custom css -->

    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@3"></script>
   
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <h1 class="mt-4" >{{title}} <i class="far fa-hand-peace"></i></h1>

          <h4>A hand picked selection of quotes from the field of computer science.</h4>

         

          <div class="col-md-7 mt-4">
            <div v-if="count % 2" class="even">
                <h3>&ldquo;{{qoutes[count].quote}} &rdquo;</h3>
                <i>- {{qoutes[count].author}}</i>
            </div>

            <div v-else  class="not_even" >
                <h3>&ldquo;{{qoutes[count].quote}} &rdquo;</h3>
                <i>- {{qoutes[count].author}}</i>
            </div>
          

          
       
            <div class="mt-4">
            <button @click="getnextQoutes(1)" class="btn btn-success ">Next</button>
          
            <button @click="getnextQoutes(-1)" class="btn btn-success next">prev</button>
            </div>
            <span>
         
            </span>
          </div>
          <div class="col-md-5">
            <img
              src="qoutenobg.png"
              alt=""
              class="img-rensponsive"
              height="400"
              width="500"
            />
          </div>
        </div>
      </div>
    </div>




    <script src="data.js"></script>
    <script>
     
    const { createApp } = Vue;

            createApp({
              data() {
                return {
                  title: "Daily Qoute !",
                  qoutes:qoutes,
                  count:0,
                  colors:['#fe5d26','#eb5e28']

                };
              },
              methods: {
                getnextQoutes(change) {
                    if(this.qoutes[this.count + change]){
                        this.count += change
                    }
             
                  
              },
              
            }
            }).mount("#app");
    </script>
  </body>
</html>
